<app-app-menu></app-app-menu>















<!-- <div class="text-layout">

<h1>
  {{nombre | titlecase }}
  {{valor | number }}
</h1>

<button pButton 
icon="pi pi-check" 
iconPos="right" 
type="button" 
(click)="mostrarNombre()" 
label="Cambiar nombre" 
class="p-button-help">
  
</button>

<p-card [header]="nombre | titlecase" 
        subheader="Esto es un subheader"        
>
  
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum natus, rem eligendi sunt expedita nesciunt maiores corporis aliquid, corrupti, eius velit vero qui architecto quasi quo nihil consectetur? Sequi, natus?
  
</p-card>


</div> -->

